.Footer-container{
    background: rgb(20, 43, 17);
    height:43vh;
    width:100%;
    
}
/*small{
    color: rgb(15, 14, 14);
   /* padding-left: 550px;
    font-size: 20px;
  padding-bottom: 100px;
}*/
.footerwall{
    width: 100%;
    height: 15vh;
    /* background-color: white; */
}
.Footer-wrapper{
    width: 100%;
    background-image:url(../asset/img/wave.png);
    height: 15vh;
}
.Footer_words{
    /* background: rgb(33, 49, 32); */
    height:40vh;
    width:97%;
    margin-left: 30px;
}
.Footer_words h1{
    color:white;
    margin-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.Footer_words img{
    height: 17vh;
    width: 10%;
}
.hr{
    border-top: 2px dashed white;
    /* margin-bottom: 200px; */
    display: flex;
    color: white;
    }
.hr1 h2{
    color:white;
    margin-left: 400px;
}
.hr2 h2{
    color:white;
    margin-left: 400px;
}
.hr h2{
    color:white;
}
.hr1 h3{
    padding-left: 400px;
    color:white;
    margin-left: 10px;

}

.ops h3{
    color:white;
    margin-left: 10px;
}
.icon{
    padding-left: 400px;
    margin-left: 10px;
    color:rgb(139, 134, 134);
    font-size: 30px;
   display: flex;
}
.style{
    width: 100%;
    height: 0.1vh;
    background-color: rgb(186, 187, 187);
}
.crop{
    width: 100%;
    /* height: 2vh; */
    
    /* background-color: rgb(107, 55, 55); */
align-items: center;
}
.crop h4{
    /* margin-top: 10px; */
    align-items: center;
    margin-left: 650px;
    color:white;

}